{% extends 'base.html' %}

{% load static %}

{% block title %} about {% endblock title %}


{%block content %}
      <div class='container'>
        <div class='about-content mt-3'>
            <h5><em id="center-side-text-one">ICF Background</em></h5>
            <p>ICF is abbreviated from ISLAMIC CALL FOUNDATION that was founded 
                at 08 July 2022, Dar es salaam  in Tanzania.
                ICF is non profit organization that aims to helping the society in education services
                , health services and other society services.</p>
           <h5><em id="center-side-text-one">ICF Office Location</em></h5>
                <p>ICF headquarter is located at markaz area near to local government office at ilala district in Dar es Salaam .</p>
           <h5><em id="center-side-text-one">ICF Objectives</em></h5>
           <p>1. To promote the Community's understanding of the importance of Education and good upbringing for children and young people</p>
           <p>2. To develop community members educationally, economically, healthily, culturally, ideologically and ritually.</p>
           <p>3. To receive and take care of tithes and donations from various people, Institutions, Governments, individuals inside and outside the country including houses, fields and cars dedicated for the institution</p>
           <p>4. To initiate various projects to meet the development needs of the Institute in the relevant area and elsewhere as long as the projects are legally and religiously valid.</p>
           <p>5. Writing books, magazines, recording CDs and Videos and distributing copies for Education.</p>
           <p>6. Renovating, building, strengthening and managing the buildings of mosques, madrasas, wells and drilling of new wells.</p>
           <p>7. To establish and own educational centers universities, technical colleges, middle colleges, schools in collaboration with the trainers who are experts in those fields who will be hired by the institution.</p>
           <p>8. To establish, develop and manage in matters of welfare social and economic services for the forgotten people such as the elderly, people with special needs, widows and children living in difficult circumstances.</p>
           <p>9. Establish, develop and manage health centers, clinics, laboratories, drug stores, and hospitals.</p>
           <p>10. Collaborating with other institutions and communities inside and outside the country with goals, purposes and direction that go hand in hand with Islam.</p>
        </div>
     </div>


{% endblock content %}