{% extends 'base.html' %}

{% load static %}

{% block title %} contact {% endblock title %}


{%block content %}
    <div class='container'>
        <div class='contact-content mt-3'>
        <h5 class="mt-3 mb-3"><em id="center-side-text-one">ICF Contacts</em></h5>
        <p>Email:&nbsp;islamiccallfoundation3@gmail.com</p>
        <p>Whatsapp:&nbsp;0673680609</p>
        <p>Call:&nbsp;0673680609</p>
        <h5 class="mt-3 mb-3"><em id="center-side-text-one">ICF Offices Location</em></h5> 
        <iframe class="mb-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126752.86402537217!2d39.023992616406254!3d-6.887369200000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c37e1b679925b%3A0xae518387c071e0d!2sMarkaz%20Mosque!5e0!3m2!1sen!2stz!4v1667821094083!5m2!1sen!2stz" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>


{% endblock content %}