{% extends 'base.html' %}

{% load static %}

{% block title %} donate {% endblock title %}


{% block content %}
<div class='container'>
    <div class='donate-content mt-3'>
        <h5 class="mb-3 mt-3"><em id="center-side-text-one">Donate now</em></h5>
        <img src="{% static 'images/lipa.png' %}" alt="lipa photo" height="200"/>
        <p>Pay by Phone:&emsp;<strong><em>7472182 ISLAMIC CALL HQ</em></strong></p>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
    </div>
</div>

{% endblock content %}