{% extends 'base.html' %}
{% load static %}
{% block title %}event {% endblock title %}
{% block content %}
<marquee class="marquee-date" behavior="scroll" scrollamount="10" direction="left">  Today date is {{today}}</marquee>
        <div class="side">
           <div class="left-side">
                <div class="left-side-list">
                  <ul class="left-side-list-content">
                    <li> <a href="{% url 'event' %}">&emsp;ICF events</a></li>
                   </ul>
                      <ul class="left-side-list-content">
                          <li> <a href="{% url 'quote' %}">&emsp;ICF quotes</a></li>
                      </ul>

              
                </div>
           </div>
          
           <div class="center-side">

            

      
             <div class="center-side-text ">
              <em id="center-side-text-one">ICF Events</em>
             </div>

             <div class="event-container">
             {% if event %}
             {% for e in event %}
             <h5>{{e.title}} posted at {{e.created_at}} </h5>
             <video width="460" height="320"  controls>
                  <source src="{{e.video.url}}" type="video/mp4"/>
             </video>
             <p>{{e.description}}</p>
             {% endfor %}

             {% else %}
             <h3>No recent event uploaded</h3>
           {% endif %}
            </div>
             
             <br><br>
             <br><br>
             <br><br>
             <br><br>
             <br><br>
             <br><br>
             <br><br>
             <br><br>
             
           
      
           </div>
             <div class="right-side">
               
                  
                   <div class="right-side-group text-center">
                         
                          <em id="text" class="frequent-title"> Frequent asked</em>
                         
                         
                          {% include 'faqs.html' %}

                            
                   </div>


      
                  <div class="contact">
                    <em class="contact-us">Our social links</em>
                    
                    <div class="contact-social-network">
                      &emsp; <a href="https://facebook.com"><img class="instagram-img" src="{% static 'images/fb.png' %}" alt="instagram"></a> 
                      <a href="https://instagram.com"> <img class="instagram-img" src="{% static 'images/instagram.jpeg' %}" alt="instagram"></a>
                      <a href="https://tweeter.com"><img  class="tweeter-img" src="{% static 'images/tweeter.png' %}" alt="tweeter"></a>
                 </div>
                </div>
      
                
      
           </div>
        </div>
      

{% endblock content %}